{
	email {$ACME_EMAIL}
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy api:8001
}

{$VOICE_DOMAIN} {
	encode zstd gzip
	reverse_proxy voice:8002
}

{$TRACES_DOMAIN} {
	encode zstd gzip
	reverse_proxy phoenix:6006
}
